@import "/style.css";

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-resp {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
  justify-content: center;
  align-items: center;
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-gap-1 {
  gap: 1rem;
}

.grid-col-gap-1 {
  column-gap: 1rem;
}

.grid-row-gap-1 {
  row-gap: 1rem;
}

@media (max-width: 700px) {
  .grid-2-col {
    grid-template-columns: 1fr;
  }
}
