@import "./Utilities/color.css";
@import "./Utilities/utilities.css";
@import "./Docsite/docsite.css";
@import "./Components/Icon/icon.css";
@import "./Components/Alert/alert.css";
@import "./Components/Avatar/avatar.css";
@import "./Components/Badge/badge.css";
@import "./Components/Button/button.css";
@import "./Components/Card/card.css";
@import "./Components/Chips/chip.css";
@import "./Components/Grid/grid.css";
@import "./Components/Image/image.css";
@import "./Components/Input/input.css";
@import "./Components/List/list.css";
@import "./Components/Modal/modal.css";
@import "./Components/Snackbar/snackbar.css";
@import "./Components/Text/text.css";

* {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
}

i {
  color: inherit;
}
