@import "./Utilities/color.css";
@import "./Utilities/utilities.css";
@import "./Components/Alert/alert.css";
@import "./Components/Button/button.css";

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
}
