@import "/style.css";

.card {
  border-radius: 0.25rem;
  box-shadow: 2px 1px 7px var(--secondary-color),
    -2px -1px 7px var(--secondary-color);
}

.card-img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-badge-left {
  top: 10px;
  right: 10px;
  background-color: var(--secondary-color);
  transition: all 0.2s ease;
}

.card-badge-left:hover {
  color: var(--red);
  transition: all 0.2s ease;
}

.card-badge-left:active {
  transform: scale(0.9);
  transition: all 0.2s ease;
}

.card-badge-right {
  top: 10px;
  left: 0;
}

.overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--secondary-color);
  opacity: 0.4;
}

.overlay-text {
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3em;
  padding: 0.5rem 0;
  background-color: var(--secondary-color);
}
