@import "/style.css";

.input {
  outline: none;
  width: 100%;
  padding: 0.65rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 1em;
}

.input-label {
  top: -9px;
  left: 5px;
  padding: 0 0.15rem;
  background-color: var(--white);
  font-size: 0.9em;
}

.std-input {
  border-color: var(--gray);
}

.std-input:focus {
  border-color: var(--primary-color);
}

.std-disabled-input {
  border-color: var(--gray);
}

.error-input {
  border-color: var(--red);
}

.input-validation-msg {
  font-size: 0.9em;
}

.error-label,
.error-msg {
  color: var(--red);
}

.warning-input {
  border-color: var(--yellow);
}

.warning-label,
.warning-msg {
  color: var(--yellow);
}

.success-input {
  border-color: var(--green);
}

.success-label,
.success-msg {
  color: var(--green);
}
