:root {
  --primary-color: #f46326;
  --secondary-color: #eaeaec;
  --white: #ffffff;
  --gray: #7c7c7c;
  --black: #1b1b1b;
  --red: #dc4146;
  --light-red: #f9c5c5;
  --green: #388e3c;
  --light-green: #b2ffc9;
  --yellow: #f8922c;
  --light-yellow: #ffe7c5;
  --blue: #37438b;
  --light-blue: #7fd2e6;
}
