@import "../../style.css";

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: inherit;
}

.btn:hover {
  box-shadow: none;
  transition: all 0.2s ease;
}

.btn:active {
  transform: scale(0.95);
  transition: all 0.2s ease;
}

.btn-solid-primary {
  color: var(--white);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-solid-secondary {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn-solid-danger {
  color: var(--white);
  background-color: var(--red);
  border: 1px solid var(--red);
}

.btn-outline-primary {
  color: var(--primary-color);
  background-color: var(--white);
  border: 1px solid var(--primary-color);
}

.btn-outline-secondary {
  background-color: var(--white);
  border: 1px solid var(--gray);
}

.btn-outline-danger {
  color: var(--red);
  background-color: var(--white);
  border: 1px solid var(--red);
}

.link-btn:hover {
  text-decoration: underline;
}

.btn-float {
  position: fixed;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.component-preview .btn-float {
  position: static;
}
