<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://kit.fontawesome.com/f08ee55cc8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./button.css">
  <title>Button</title>
</head>

<body>
  <div class="flex-row">
    <button class="btn btn-solid-primary">Primary</button>
    <button class="btn btn-solid-secondary">Secondary</button>
    <button class="btn btn-solid-danger">Danger</button>
  </div>

  <div class="flex-row">
    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-danger">Danger</button>
  </div>

  <div class="flex-row">
    <button class="btn btn-solid-primary">
      <i class="fas fa-shopping-cart"></i>
      Add to cart
    </button>

    <button class="btn btn-solid-secondary">
      <i class="fas fa-edit"></i>
      Edit Text
    </button>

    <button class="btn btn-solid-danger">
      <i class="fas fa-trash"></i>
      Delete
    </button>
  </div>

  <a href="#">
    <button class="btn btn-outline-primary">Link Primary Button</button>
  </a>

  <a href="#">
    <button class="btn btn-outline-secondary">Link Secondary Button</button>
  </a>

  <div class="flex-row gap-2">
    <div class="pos-rel mar-1">
      <button class="btn btn-solid-danger btn-float mar-1">
        <i class="fas fa-trash icon"></i>
      </button>
    </div>

    <div class="pos-rel mar-1">
      <button class="btn btn-solid-secondary btn-float mar-1">
        <i class="fas fa-plus icon"></i>
      </button>
    </div>
  </div>

</body>

</html>