@import "/style.css";

.sm-avatar {
  width: 3rem;
  height: 3rem;
  font-size: 1em;
  line-height: 3rem;
}

.md-avatar {
  width: 5rem;
  height: 5rem;
  font-size: 2em;
  line-height: 5rem;
}

.lg-avatar {
  width: 7rem;
  height: 7rem;
  font-size: 3em;
  line-height: 7rem;
}

.round-avatar {
  border-radius: 50%;
}

.square-avatar {
  border-radius: 10%;
}

.txt-avatar {
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: bold;
  text-align: center;
}
