<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./avatar.css">
  <title>Avatar</title>
</head>

<body>
  <div class="flex-row align-baseline avatar-container">
    <img loading="lazy" class="lg-avatar round-avatar" src="../../Images/avatar.jpeg" alt="avatar">
    <img loading="lazy" class="md-avatar round-avatar" src="../../Images/avatar.jpeg" alt="avatar">
    <img loading="lazy" class="sm-avatar round-avatar" src="../../Images/avatar.jpeg" alt="avatar">
  </div>

  <div class="flex-row align-baseline avatar-container">
    <img loading="lazy" class="lg-avatar square-avatar" src="../../Images/avatar.jpeg" alt="avatar">
    <img loading="lazy" class="md-avatar square-avatar" src="../../Images/avatar.jpeg" alt="avatar">
    <img loading="lazy" class="sm-avatar square-avatar" src="../../Images/avatar.jpeg" alt="avatar">
  </div>

  <div class="flex-row align-baseline avatar-container">
    <div class="txt-avatar round-avatar lg-avatar">SG</div>
    <div class="txt-avatar round-avatar md-avatar">SG</div>
    <div class="txt-avatar round-avatar sm-avatar">SG</div>
  </div>

</body>

</html>