@import "../../style.css";

.nav-link:hover {
  text-decoration: underline var(--primary-color) 2px;
}

.mobile-nav {
  display: none;
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}
