@import "/style.css";

.snackbar {
  display: none;
  padding: 1rem 1.25rem;
  width: fit-content;
  background-color: var(--black);
  border-radius: 0.25rem;
  color: var(--white);
  position: fixed;
  bottom: 1rem;
}

.component-preview .snackbar {
  display: flex;
  position: static;
  margin: 1rem;
  transform: translate(0);
}

.snackbar-text {
  margin-right: 0.5rem;
}

.snackbar-btns {
  margin: 0 0.5rem;
}

.snackbar-action-btn {
  margin-right: 1rem;
  color: var(--primary-color);
  text-decoration: none;
}

.snackbar-close-btn {
  cursor: pointer;
}

.snackbar-baseline {
  left: 50%;
  transform: translate(-50%);
}

.snackbar-leading {
  left: 1rem;
}

.snackbar-stacked {
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  left: 50%;
  transform: translate(-50%);
}
